.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.profile {
  text-align: center;
}

.name,
.tag,
.location {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.name {
  font-size: 20px;
}
.location {
  padding-bottom: 10px;
}
.stats {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1px;
  padding-bottom: 10px;
}
.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 70px;
  height: 40px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  background-color: rgba(28, 188, 232, 0.991);
}
.avatar {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  box-shadow: 1px 2px 4px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.label {
  font-size: 14px;
  font-family: sans-serif;
}
.quantity {
  font-size: 16px;
  color: rgba(226, 110, 43, 0.993);
}
